.contacts-form {
  background-color: #1e1f28;
}

.contacts-form__input {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50px;
    height: 30px;
    width: 1px;
    background: #b5575f;
  }
}

.contacts-form__textarea {
  padding-bottom: 50px;
}

.contacts-form__value {
  outline: 0;
  border: none;
  border-bottom: 1px solid #b5575f;

  width: 570px;
  padding: 15px;
  margin-top: 20px;

  /* Типография */
  font-family: 'Corbel';
  font-weight: lighter;
  font-size: 24px;
  color: #b5b5b5;

  background-color: #1e1f28;

  &--textarea {
    padding-top: 0;
    margin-top: 40px;
    min-height: 140px;
    border-left: 1px solid #b5575f;
    max-width: 570px;
  }
}
